<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JuniorCommon" version="2.0.1" targetFramework="net40" />
  <package id="JuniorRoute.AspNetIntegration" version="1.0.2" targetFramework="net40" />
  <package id="JuniorRoute.AspNetIntegration.Diagnostics" version="1.0.1" targetFramework="net40" />
  <package id="JuniorRoute.Assets" version="1.0.0" targetFramework="net40" />
  <package id="JuniorRoute.Assets.YuiCompressor" version="1.0.2" targetFramework="net40" />
  <package id="JuniorRoute.AutoRouting" version="1.0.1" targetFramework="net40" />
  <package id="JuniorRoute.Core" version="1.0.2" targetFramework="net40" />
  <package id="JuniorRoute.Core.Diagnostics" version="1.0.5" targetFramework="net40" />
  <package id="JuniorRoute.Diagnostics" version="1.0.5" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.10" targetFramework="net40" />
  <package id="Spark" version="1.7.4.0" targetFramework="net40" />
  <package id="YUICompressor.NET" version="2.1.1.0" targetFramework="net40" />
</packages>