<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="antiCsrf" type="Junior.Route.Routing.AntiCsrf.AntiCsrfConfigurationSection, Junior.Route.Routing"/>
	</configSections>
	<antiCsrf enabled="true"
			  validateHttpPost="true"
			  validateHttpPut="true"
			  validateHttpDelete="true"
			  cookieName=".juniorroutesession"
			  formFieldName="__JuniorRouteNonce"
			  nonceDurationInMinutes="60"
			  memoryCacheName="JuniorRoute"/>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Junior.Route.Routing" publicKeyToken="39d86c91cf0eeeae" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Junior.Route.Common" publicKeyToken="39d86c91cf0eeeae" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Junior.Common" publicKeyToken="998713eb9a0cce30" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Junior.Route.Http" publicKeyToken="39d86c91cf0eeeae" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Junior.Route.Diagnostics" publicKeyToken="39d86c91cf0eeeae" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Junior.Route.Assets" publicKeyToken="39d86c91cf0eeeae" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>