@inherits Junior.Route.ViewEngines.Razor.Template<JuniorRouteWebApplication.Endpoints.HelloWorld.Model>
@{
	Layout = @"Templates\Layout";
}
<div style="font-size: 3em;">@Model.Message</div>
@Include(@"Templates\Message")
@section Time
{
	@DateTime.Now.ToLongDateString()
	@DateTime.Now.ToLongTimeString()
}