<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EcmaScript.Net" version="1.0.1.0" targetFramework="net40" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net40" />
  <package id="JuniorCommon" version="2.0.1" targetFramework="net40" />
  <package id="JuniorRoute.AspNetIntegration" version="2.0.0" targetFramework="net40" />
  <package id="JuniorRoute.AspNetIntegration.Diagnostics" version="2.0.0" targetFramework="net40" />
  <package id="JuniorRoute.Assets" version="2.0.0" targetFramework="net40" />
  <package id="JuniorRoute.Assets.YuiCompressor" version="2.1.1" targetFramework="net40" />
  <package id="JuniorRoute.AutoRouting" version="2.0.0" targetFramework="net40" />
  <package id="JuniorRoute.Core" version="2.0.0" targetFramework="net40" />
  <package id="JuniorRoute.Core.Diagnostics" version="2.0.0" targetFramework="net40" />
  <package id="JuniorRoute.Diagnostics" version="2.0.0" targetFramework="net40" />
  <package id="JuniorRoute.ViewEngines.Razor" version="2.0.0" targetFramework="net40" />
  <package id="JuniorRoute.ViewEngines.Razor.Routing" version="2.0.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20715.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="Spark" version="1.7.5.0" targetFramework="net40" />
  <package id="YUICompressor.NET" version="2.2.0.0" targetFramework="net40" />
</packages>