.asp-net-view td
{
	border-collapse: collapse;
	padding: 2px 5px;
}
.asp-net-view thead td
{
	background-color: #eee;
	border: 1px solid #bbb;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.asp-net-view tbody td
{
	border: 1px solid #ddd;
}